.FormCard {
  display: flex;
  position: relative;
  border-radius: 10px;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1rem 2rem;
  width: 480px;

  &::before{
    content: "";
    position: absolute;
    inset: 0px;
    border-radius: inherit;
    background: #0a0a0a;
    z-index: -10;
  }

  &::after {
    content: "";
    position: absolute;
    inset: -2px;
    border-radius: inherit;
    background: linear-gradient(45deg, rgba(35,35,35,1) 55%, rgba(46,111,240,1) 55%, rgba(35,35,35,1) 60%, rgba(35,35,35,1) 65%, rgba(254,215,63,1) 65%, rgba(35,35,35,1) 70%);  
    background-size: 550% 200%;
    animation: rotarGradiente 4s linear infinite;
    z-index: -20;
  }  
}

@keyframes rotarGradiente {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
