.headerContainer{
  align-items: center;
  background-color: var(--accent-color);
  color: var(--foreground-white);
  display: flex;
  justify-content: space-between;
  padding: 8px 4rem;
  position: sticky;
  top: 0;

  .navContainer{
    ul{
      display: flex;
      font-weight: 600;
      list-style: none;
      margin: 0;
      padding: 0;
      

      li{
        margin: 0 1rem;

        a{
          transition: all 0.3s ease;
          color: var(--foreground-white);
          text-decoration: none;

          &:hover,
          &.active,
          &:focus,
          &:active,
          &:visited{
            color: var(--foreground-white);
            text-decoration: underline;
          }
        }
      }
    }
  }
}
