.cardContainer{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 2rem;

  .entityCard{
    transition: all 0.3s ease;
    align-items: center;
    border: 1px solid transparent;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    height: 200px;
    width: 200px;

    &:hover{
      color: var(--btn-hover-alt);
      background-color: #fefefe;
      border: 1px solid var(--btn-hover-alt);
      cursor: pointer;

      svg{
        fill: var(--btn-hover-alt);
      }
    }

    svg{
      transition: all 0.3s ease;
    }

    p{
      font-size: 1.6rem;
    }
  }
}