.container {
  padding: 20px;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.formContainer {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  gap: 8px;
  margin-bottom: 20px;
  padding: 20px;
}

.input {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dataControlsContainer{
  align-items: center;
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-bottom: 18px;

  .buttonContainer:first-of-type{
    display: flex;
    gap: 16px;
  
  }
}
